@import "tailwindcss";

@font-face {
  font-family: localFont;
  src: url("src/assets/fonts/Inconsolata-VariableFont_wdth,wght.ttf");
}

:root {
  font-family: localFont, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-multi {
  background:url('assets/images/pattern-squiggly-line-top.svg') top right no-repeat, url('./assets/images/pattern-circle.svg')right center no-repeat,
  url('./assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg') left bottom no-repeat, url('./assets/images/pattern-lines.svg'), url('./assets/images/background-mobile.png') top no-repeat;
  background-size: 200px, 100px, 250px, auto, cover;
}